.App {
  text-align: center;
  font-size: calc(10px + 1vmin);
}

.App-content {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Form {
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Form-error {
  height: 1em;
  color: red;
  font-size: calc(6px + 1vmin);
}

.Input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}